MVCHTTPClient/Service References/UserTableReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserTableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserTableService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserTableService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserTableService_GetUserByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="IUserTableService_GetUserByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserTableService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserTableService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserTableService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTableService/GetUser" message="tns:IUserTableService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTableService/GetUserResponse" message="tns:IUserTableService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTableService/GetUserByUsername" message="tns:IUserTableService_GetUserByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTableService/GetUserByUsernameResponse" message="tns:IUserTableService_GetUserByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTableService/GetAllUsers" message="tns:IUserTableService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTableService/GetAllUsersResponse" message="tns:IUserTableService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserTableService" type="tns:IUserTableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserTableService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://tempuri.org/IUserTableService/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserTableService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserTableService">
    <wsdl:port name="BasicHttpBinding_IUserTableService" binding="tns:BasicHttpBinding_IUserTableService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HomeCollection/Service5/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>