MVCHTTPClient/Service References/GenreReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GenreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenreService_AddGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGenre" />
  </wsdl:message>
  <wsdl:message name="IGenreService_AddGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenreService_UpdateGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenre" />
  </wsdl:message>
  <wsdl:message name="IGenreService_UpdateGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenreService_DeleteGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenre" />
  </wsdl:message>
  <wsdl:message name="IGenreService_DeleteGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenreService_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IGenreService_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IGenreService_GetGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenre" />
  </wsdl:message>
  <wsdl:message name="IGenreService_GetGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenreService">
    <wsdl:operation name="AddGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenreService/AddGenre" message="tns:IGenreService_AddGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenreService/AddGenreResponse" message="tns:IGenreService_AddGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenreService/UpdateGenre" message="tns:IGenreService_UpdateGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenreService/UpdateGenreResponse" message="tns:IGenreService_UpdateGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenreService/DeleteGenre" message="tns:IGenreService_DeleteGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenreService/DeleteGenreResponse" message="tns:IGenreService_DeleteGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenreService/GetAllGenres" message="tns:IGenreService_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenreService/GetAllGenresResponse" message="tns:IGenreService_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenreService/GetGenre" message="tns:IGenreService_GetGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenreService/GetGenreResponse" message="tns:IGenreService_GetGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenreService" type="tns:IGenreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGenre">
      <soap:operation soapAction="http://tempuri.org/IGenreService/AddGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <soap:operation soapAction="http://tempuri.org/IGenreService/UpdateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <soap:operation soapAction="http://tempuri.org/IGenreService/DeleteGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IGenreService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <soap:operation soapAction="http://tempuri.org/IGenreService/GetGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenreService">
    <wsdl:port name="BasicHttpBinding_IGenreService" binding="tns:BasicHttpBinding_IGenreService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HomeCollection/Service3/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>