MVCHTTPClient/Service References/LoginReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_GetAllLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLogins" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAllLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="GetAllLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetAllLogins" message="tns:ILoginService_GetAllLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetAllLoginsResponse" message="tns:ILoginService_GetAllLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetLogin" message="tns:ILoginService_GetLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetLoginResponse" message="tns:ILoginService_GetLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UserExist" message="tns:ILoginService_UserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UserExistResponse" message="tns:ILoginService_UserExist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLogins">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetAllLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HomeCollection/Service6/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>