MVCHTTPClient/Service References/CdReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="AddCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="cd" nillable="true" type="q1:Cd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="cd" nillable="true" type="q2:Cd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="GetCdResult" nillable="true" type="q3:Cd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="GetAllCdsResult" nillable="true" type="q4:ArrayOfCd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCdsByGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCdsByGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="GetAllCdsByGenreResult" nillable="true" type="q5:ArrayOfCd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>